@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Khula:800');
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:600');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1240px;
	margin: 0 auto;
	line-height: 1.2;
	font-size:20px;
}

h1 {
	font-family: 'Bungee', cursive;
	color: #BB2C0C;
	font-size: 3em;
	padding-top: .5em;
}

h2 {
	font-family: 'Bungee', cursive;
	padding-top: .5em;
	font-size: 2em;
}

h3 {
	font-family: 'Khula', sans-serif;
	font-size: 1.5em;
}

span {
	color:black;
	font-size: 1em;
	font-family: 'Bitter', serif;
}

ul {
	font-family: 'Bitter', serif;
	list-style-type: none;
	color: #b8cbc9;
}

.dividers {
	height: .5em; 
	background-color: #ececec;
}

header {
	max-width: 100%;
/*	text-align: center;
*/	background-color: #ececec;
}

nav {
	width: 100%;
	text-align: center;
	background-color: #b8cbc9; 
/*	border: 1px black solid;
*/}

nav a {
	padding: .25em 0 .25em 0;
	text-decoration: none;
	font-family: 'Khula', sans-serif;
	font-size: 1em;
	display: block;
	width: 20%;
	float: left;
	text-transform: uppercase;
}

/*LoVe HAte*/

nav a:link {
	color: #192f36;
}

nav a:visited {
	color: #192f36;
}

nav a:hover {
	color: #fe1645;
	background-color:#656565;
}

nav a:active {
	color:blue;
}

/*.navwrapper {
	max-width: 100%;
	color: red;
	margin:auto;
}*/

#mobile {
	display: none;
}

#hero {
	display: block;
	background-color: #192f36;
	width: 100%;
}

/*.headerwrapper{
	max-width: 100%;
	margin: auto;
}*/

/*#hero h1 {
	padding: 0;
}*/

#name {
	text-align: center; 
	float:right;
	width:70%;
	padding-top:4em;
	margin: auto;
}

#name h2 {
	font-family: 'Khula', sans-serif;
}

#name p {
	color: #b8cbc9;
}

#slogan {
	font-style: italic;
	font-size: 1em;
	width: 80%;
	margin: auto;
	color: #b8cbc9;
}

#photo {
	float:left;
	width: 30%;
}

#photo img {
	width: 100%;
	/*height: auto;*/
	padding: 1.5em;
	margin-left: 2.25em;
}

#summary {
	font-weight: bold;
/*	margin: 0 1em 1em 1em;
*/	width: 100%;
/*	padding: .75em;
*/	margin-right: auto;
	margin-left: auto;
/*	border: .25em black solid;
*/	text-align: justify;
	background: #b8cbc9;
	font-size: .8em;
	color: #192f36;
	/*background: #ECECEE;*/
	padding: 1em;
	font-family: 'Bitter', serif;
}

#summary h2 {
/*	font-family: 'Khula', sans-serif;
*/	text-align: center;
/*	padding-top: .5em;*/
}

#summary p {
	padding: .7em 0 .7em 0;
	width: 80%;
	margin: auto;
}

#summary ol {
	padding: .5em 0 .5em 0 ;
	width: 80%;
	margin: auto;
}

#summary li {
	line-height: 1.5em;
}

/*#goals {
	padding: 2em 0 2em 0;
	font-size: .8em;
}*/

/*#goals h2 {
	padding-top: 0;
	padding-bottom: .25em;
	font-size: 2.5em;
}

#goals p {
	font-family: 'Bitter', serif;
	width: 90%;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}*/


#skills {
	background-color: #D7D9D7;
	padding: .5em 0 .5em 0;
	width: 100%;
	/*align-content: center;*/
	/*margin-left: auto;
	margin-right: auto;*/
	text-align: center;
	margin: auto;
}

#skills ul {
	color:black;
	padding-bottom: .5em;
}

#skills h2 {
	padding-bottom: .25em;
	padding-top: .25em;
}

#skills li {
	padding: .25em .5em 0 .5em;
}

main {
	/*padding-top: 1.5em;*/
	background-color:#ececec;
	text-align: center;
	width: 100%;
/*	margin: auto;
*/}

#websites {
	/*font-family: 'Bitter', serif;*/
/*	margin: auto;
*/	/*color: #000000;*/
	width: 100%;
	background-color: #c0c2ce;
	margin: auto;
}

#websites h2 {
	padding-bottom: .25em;
/*	font-size: 2.5em;
*/	/*padding-top: .5em;*/
	/*background-color: #c0c2ce;*/
}

#links div {
	/*padding: 1em .75em;*/
	display:inline-block;
	float:left;
	width: 33.3333%;
	height: 15em;
/*	border: 1px solid black;
*/	/*height: 100%;*/
}

#links img {
	/*width: 25%;*/
/*	padding-bottom: 1em;
	padding-top: .5em;*/
	padding: 1em 2em 2em 2em;
}

#links a {
	text-decoration: none;
}

/*#links span{
	color:black;
	font-size: 1em;
	font-family: 'Bitter', serif;
}*/

#natm3 img {
	width: 100%;
	/*height: auto;*/
	padding-top: 2em;
}

#vinvault img {
	height: 100%;
/*	width: 100%;
*/}

#naked img {
	height: 100%;
/*	width: 60%;
*/}

#aurora img {
/*	height: 100%;
*/	width: 70%;
}

#diller img {
/*	height: 100%;
*/	width: 70%;
}

#snl img {
	width: 100%;
	/*height: auto;
	padding-top: 20px;*/
}

#gwx img {
	width: 100%;
/*	height: auto;
*/	padding-bottom: 4.4em;
}

#Lego img {
	width: 100%;
	padding-top: 2em;
/*	opacity: 1
*/}

#lma img {
	width: 105%;
/*	height: auto;
*/	padding-top: 2em;
	padding-bottom: 2em;
}

/*LoVe HAte*/

#links div:link {
	color:black;
}

#links div:visited {
	color:black;
}

#links div:hover {
	opacity:.5;
	filter: grayscale(50%);
}

#links div:active {
	color: black;
}

/*I can't figure this out*/ 

/*#award {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: auto;
	opacity: 0;
}

#lego img:hover {
	opacity:0;
}

#award img:hover {
	opacity: 1;
}*/

.videowrapper {
	width: 100%;
	margin: auto;
	background-color: #D7D9DB;
	padding-bottom: 1em;
}

#videos h2 {
/* 	background-color:#ececec;
*/ 	font-size: 2.5em;
 	padding-bottom: .25em;
 	padding-top: .25em;
}

#videos h3 {
	/*font-size: 1.75em;
	text-align: center;*/
}

#videos h3:nth-of-type(2) {
	/*font-size: 1.75em;
	text-align: center;
	padding-top: 8em;*/
}

#videos div {
	display:block;
	width: 33.333%;
	height: 15em;
	padding-bottom: 1em;
	float:left;
	padding: .25em;
/*	border: .25em solid black;
*//*	margin:auto;
*/}

#videos a {
	text-decoration: none;
}

#videos img {
	width: 90%;
}

#videos p {
	padding-top: 1em;
	padding-bottom: .4em;
	font-size: 1em;
	font-family: 'Bitter', serif;
	color: black;
}

#bk p {
	padding-bottom: 1.6em;
}

#honda p {
	padding-bottom: 1.6em;
}

#ditech p {
	padding-bottom: 1.6em;
}

#magic p {
	padding-bottom: 1.6em;
}

#bose p {
	padding-bottom: 1.6em;
}
/*LoVe HAte*/

#videos div:link {
	color:black;
}

#videos div:visited {
	color:black;
}

#videos div:hover {
	opacity:.5;
	filter: grayscale(50%);
}

#videos div:active {
	color: black;
}

/*#two_columns {
	background-color: #192f36;
}*/

/*#left {
	background-color: #192f36;
	padding: 20px;
	float: left;
	width: 35%;
	color: #b8cbc9;
} 

#left li {
	padding: 5px;
}*/


#contact { 
	font-family: 'Bitter', serif;
/*	clear: both;
*/	text-align: center;
	padding: 1em;
	background-color: #C7C2D7;
	text-decoration: none;
}

#contact h2 {
	padding-bottom: .25em;
	/*padding-top: .25em;*/
}

#contact p {
	padding-bottom: .5em;
}

/*#contact a {
	text-decoration: none;
}*/

/*#contact img {
	height: 1.5em;
	padding-left: .5px;
}*/

#contact a:hover {
	color: red;
}

#call {
	padding-bottom: .5em;
}

#call a {
	text-decoration: none;
	color: black;
	font-size: 1.25em;
}

#resume a {
	text-decoration: none;
	padding-bottom: 1em;
	color: black;
}

#resume p {
	padding-bottom: 1em;
}

#social a {
	padding-top: 1em;
	text-decoration: none;
	color: black;
}

#social p {
	padding-top: .5em;
}

#social img:hover {
	opacity: .5;
	filter: grayscale(30%);
}

footer {
	background: #9A9EAB;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
	padding: 1em;
}

footer p {
	padding-top: .5em;
	font-size: 1.5em;
	color: black;	
}

footer a {
	text-decoration: none;
}

footer img {
	height: 2em;
}

footer p:hover {
	color: red;
}

footer a:hover {
	opacity: .5;
	filter: grayscale(30%);
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media screen and (min-width:1600px){
	body {
		font-size: 24px;
		width: 1500px;
	}

	#name {
		padding-top: 3em;
	}

	#ditech p {
		padding-bottom: 2.7em;
	}
}

@media screen and (max-width:1221px){
	#bose p {
		padding-bottom: .5em;
	}
}

@media screen and (max-width:1121px){
	#magic p {
		padding-bottom: .5em;
	}

}

@media screen and (max-width:1015px){

#videos p {
	font-size: .8em;
}

#bose p {
	padding-bottom: 1.6em;
}

#magic p {
	padding-bottom: 1.6em;
}



}

@media screen and (max-width:870px){

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

}

@media screen and (max-width:821px){

#bk p {
	padding-bottom: .5em;
}

}

@media screen and (max-width:768px){
body{
	background-color:cyan;
	font-size: 16px;
}

#summary p {
	font-size: 1.25em;
}

#summary li {
	font-size: 1.25em;
}

.navwrapper a {
	float: none;
	width: auto;
	padding: .25em;
	display: none;
}

#mobile {
	display: block;
}

.navwrapper:hover a {
	display: block;
}

#videos div{
	float:none;
	width: 80%;
	padding-top: 1em;
	margin: auto;
	height: 100%;
}

#videos p {
	font-size: 1.5em;
	padding-top: .5em;
}

#videos h3:nth-of-type(2) {
	padding-top: 1em;
}

#honda p {
	padding-bottom: .5em;
}

#ditech p {
	padding-bottom: .5em;
}

}

@media screen and (max-width:667px){

h1 {
	font-size: 2.5em;
}

#name {
	padding-top: 2.5em;
}

#links div {
	float: none;
	margin: auto;
	width: 70%;
}
 
#links h3{
	font-size: 1.75em;
	padding-bottom: 1em;
}

#links span {
	font-size: 1.5em;
}

#natm3 img {
	padding-top: .5em;
}

#gwx img {
	padding-bottom: 2em;
}

}

@media screen and (max-width:600px){

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

}

@media screen and (max-width:520px){

#name {
	float:none;
	font-size: .9em;
	margin: auto;
	padding-top:.5em;
}

#name h1 {
	width: 104%;
	font-size: 2em;
}

h2 {
	padding-top: .5em;
}

h2 p {
	padding: 0 0 .1em 0; 
	font-size: .9em;
}

#photo {
	margin: auto;	
	width: 60%;
	float: none;
}

#photo img {
	margin:0;
}

#slogan h2 {
	padding-bottom: 1em;
}

#summary p {
	font-size: 1.1em;
}

#summary li {
	font-size: 1.1em;
}

} 

@media screen and (max-width:400px){

#links span {
	font-size: 1em;
}

#links img {
	padding: 0 0 0 0;
}

#links h3 {
	padding-top: 1em;
}

#videos p {
	font-size: 1em;
}

}


